/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
	/* background-image: url(https://images.unsplash.com/photo-1551217624-a2de6db7e01d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80); */
	background-color: cornflowerblue;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
		background: #fff;
}

.thumbnail {
		padding-bottom: .5em;
}

.thumbnail h4 {
	padding-top: .5em;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Campground show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}